<<<<<<< HEAD
.icon{width:100px;height:100px;background-image:url(../icon_one/iconfinder_4043262_avatar_man_muslim_icon_512px.png)}.header{display:flex;justify-content:space-between}
=======
*{padding:0;margin:0;box-sizing:border-box;font-family:Gilroy}div{animation:3s infinite hello}
>>>>>>> 244e7e4573b7e9d9e579be267f0347a3d0164b4e
